<a (click)="connecter()" class="lienNoir" *ngIf="readSessionStorage('connect')!='true'"><fa name="far fa-user-circle"></fa> {{texte}}</a>

<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="padding-top:0;" *ngIf="readSessionStorage('connect')=='true'">
  <fa name="far fa-user-circle"></fa> Mon compte
</button>
<div class="dropdown-menu" *ngIf="readSessionStorage('connect')=='true' && readSessionStorage('type')== 'CLIENT'">
  <a class="dropdown-item" (click)="information()" >Mes informations</a>
  <a class="dropdown-item" >Mes évenements</a>
  <a class="dropdown-item" >Mes avis</a>
  <a class="dropdown-item" >Mes achats passés</a>
  <a class="dropdown-item" >Mes factures</a>
  <a class="dropdown-item" (click)="deconnecter()">Deconnexion</a>
</div>
<div class="dropdown-menu" *ngIf="readSessionStorage('connect')=='true' && readSessionStorage('type')== 'ADMINISTRATEUR'">
  <a class="dropdown-item" >Consulter les ventes</a>
  <a class="dropdown-item" >Gérer les références clients</a>
  <a class="dropdown-item" >Gérer les avis</a>
  <a class="dropdown-item" >Les évenements</a>
  <a class="dropdown-item" (click)="fournisseur()">Gérer les fournisseurs</a>
  <a class="dropdown-item" (click)="deconnecter()">Deconnexion</a>
</div>
<div class="dropdown-menu" *ngIf="readSessionStorage('connect')=='true' && readSessionStorage('type')== 'FOURNISSEUR'">
  <a class="dropdown-item" (click)="infoFour()" >Mes coordonnées</a>
  <a class="dropdown-item" (click)="fourProduit()" >Mes produits</a>
  <a class="dropdown-item">Message à l'administrateur</a>
  <a class="dropdown-item" (click)="deconnecter()">Deconnexion</a>
</div>
