.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 189, 58, 0.25);
}
a {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 4px #999;
  cursor: pointer;
}
