<div class="container-fluid" style="padding-left:0;padding-right:0;">
  <nav class="navbar navbar-expand-lg navbar-white bg-white" id="navb"
       style="background-color:white;border-style:none;">
    <div class="row content" style="height:80px;">
      <div class="col-sm-2">
        <a class="navbar-brand" href="https://fr.dreamstime.com/photographie-stock-refroidissez-l-abeille-image16536572"
           style="padding:0;"><img src="assets/abeille.jpg"></a>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-1"><a href="#" class="lienNoir">
        <fa name="far fa-question-circle"></fa>
        Besoin d'aide</a></div>
      <div class="col-sm-2">
        <div class="dropdown" style="height:30px;">
          <app-btn-connect></app-btn-connect>
        </div>
      </div>
      <div class="col-sm-1"><a (click)="Panier()" class="lienNoir">
        <fa name="fas fa-shopping-cart"></fa>
        Panier</a></div>
    </div>
  </nav>


  <!-- Navbar latérale -->

  <div class="row h-100">
    <div class="col-sm-2 sidenav login-form-2" style="background-color:#f4a60e">
      <table class="table table-bordered" style="margin-left:5px;color:white;border-style:none">
        <tr>
          <td class="bordure"><a  (click)="Accueil()" class="lienBlanc">Accueil</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Hydromels()" class="lienBlanc">Les Hydromels</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Classiques()" class="liste"> Classiques</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Rhodomels()" class="liste"> Rhodomels</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Melomels()" class="liste"> Mélomels</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Broggots()" class="liste"> Broggots</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Oxymels()" class="liste"> Oxymels</a></td>
        </tr>
        <tr>
          <td class="hydromel"><a (click)="Oenomels()" class="liste"> Oenomels</a></td>
        </tr>
        <tr>
          <td class="bordure"><a  class="lienBlanc">Évenements</a></td>
        </tr>
        <tr>
          <td class="bordure"><a  (click)="LivreDor()" class="lienBlanc">Livre d'or</a></td>
        </tr>
        <tr>
          <td class="bordure"><a  class="lienBlanc">Contact</a></td>
        </tr>
      </table>

    </div>
    <div class="col-sm-10 text-left" style="padding-top:50px;padding-left:50px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




