<div class="container-fluid" style="padding-left:0;padding-right:0;">
<nav class="navbar navbar-expand-lg navbar-white bg-white" id="navb" style="background-color:white;border-style:none;">
  <div class="row content" style="height:80px;">
        <div class="col-sm-2">
          <a class="navbar-brand" href="https://fr.dreamstime.com/photographie-stock-refroidissez-l-abeille-image16536572" style="padding:0;"><img src="assets/abeille.jpg"></a>
        </div>
        <div class="col-5"></div>
        <div class="col-2"><a href="#"><button>Vous êtes un fournisseur <fa name="fas fa-leaf"></fa></button></a></div>
        <div class="col-1"><a href="#"><fa name="far fa-question-circle"></fa> Besoin d'aide</a></div>
        <div class="dropdown" style="height:30px;">
         <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="padding-top:0;">
           <fa name="far fa-user-circle"></fa> Mon compte
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mes informations</a>
        <a class="dropdown-item" href="#">Mes évenements</a>
        <a class="dropdown-item" href="#">Mes avis</a>
        <a class="dropdown-item" href="#">Mes achats passés</a>
        <a class="dropdown-item" href="#">Mes factures</a>
      </div>
    </div>
        <div class="col-1"><a href="#"><fa name="fas fa-shopping-cart"></fa> Panier</a></div>
</div>
</nav>


<router-outlet></router-outlet>
