<!--<div class="container">-->
<!--  <h1 align="center">Passer la commande</h1>-->
<!--  <div *ngIf="user; else notUser">-->
<!--    <div-->
<!--    <form action="" method="post">-->
<!--      <div class="form-group">-->
<!--        <label for="numTel">Vos adresses de facturation :</label>-->
<!--        <select *ngFor="el of ">-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="nom" id="nom" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prénom :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="prenom" id="prenom" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="mail">Mail :</label>-->
<!--        <input type="email" class="form-control" placeholder="Mail :"-->
<!--               name="mail" id="mail" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="numTel">Numéro de téléphone :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="numTel" id="numTel" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="libelle">Libellé :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="libelle" id="libelle" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="rue">Rue :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="rue" id="rue" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="codePostal">Code Postal :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="codePostal" id="codePostal" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="ville">Ville :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="ville" id="ville" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="pays">Pays :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="pays" id="pays" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group" align="right">-->
<!--        <button>Paiement</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <ng-template #notUser>-->
<!--    <form action="" method="post">-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="nom" id="nom" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prénom :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="prenom" id="prenom" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="mail">Mail :</label>-->
<!--        <input type="email" class="form-control" placeholder="Mail :"-->
<!--               name="mail" id="mail" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="numTel">Numéro de téléphone :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="numTel" id="numTel" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="numTel">Vos adresses de facturation :</label>-->
<!--        <select [(ngModel)]="">-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--          <option value=""></option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="libelle">Libellé :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="libelle" id="libelle" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="rue">Rue :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="rue" id="rue" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="codePostal">Code Postal :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="codePostal" id="codePostal" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="ville">Ville :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="ville" id="ville" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="pays">Pays :</label>-->
<!--        <input type="text" class="form-control"-->
<!--               name="pays" id="pays" [(ngModel)]=""/>-->
<!--      </div>-->
<!--      <div class="form-group" align="right">-->
<!--        <button>Paiement</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </ng-template>-->
<!--</div>-->
