<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form #fournisseur="ngForm" novalidate>
<!--        <div *ngIf="erreurlogin &&(mail1.dirty || mail1.touched)&&(mdp1.dirty || mdp1.touched)"-->
<!--             class="text-danger bg-light form-control-sm">-->
<!--          <div *ngIf="erreurlogin">-->
<!--            La combinaison email et mot de passe est invalide-->
<!--          </div>-->
<!--        </div>-->
        <div class="form-group">
          <label for="mail1">e-mail :</label>
          <input type="email" class="form-control" placeholder="e-mail" required
                 name="mail1" id="mail1" />

<!--          <div *ngIf="mail1.invalid && (mail1.dirty || mail1.touched)" class="text-danger bg-light form-control-sm">-->
<!--            <div *ngIf="mail1.errors.required">-->
<!--              Le mail est obligatoire au format text@domaine.com-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="form-group">
          <label for="mdp1">mot de passe :</label>
          <input type="password" class="form-control" required
                 placeholder="mot de passe" name="mdp1" id="mdp1" />

<!--          <div *ngIf="mdp1.invalid && (mdp1.dirty || mdp1.touched)" class="text-danger bg-light form-control-sm">-->
<!--            <div *ngIf="mdp1.errors.required">-->
<!--              Le mot de passe est obligatoire-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="form-group">
          <button type="button" class="btnSubmit"
                  >Se connecter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
