<div class="card card-primary">
  <div class="card-header">Liste des références des clients</div>
  <div class="card-body">
    <!--<div class="form-group">
      <label>Nom:</label>
      <input type="text" class="form-control" [(ngModel)]="produitSearch" (ngModelChange)="search()">
    </div>-->

    <div class="container mt-5">
      <img src="/assets/abeille-dessin-anime-pouce-air_70172-221.jpg">

    <table class="table table-hover">
      <tr>
        <!--<th>Identifiant</th>-->
        <th>Fournisseur</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Quantité</th>
        <th>Unité</th>
        <th>Prix Unitaire HT</th>
        <th>Valider/rejeter</th>
      </tr>
      <tr *ngFor="let produit of produits">
        <!--<td>{{produit.id}}</td>-->
        <td>{{produit.fournisseur.raisonSociale}}</td>
        <td>{{produit.nom}}</td>
        <td>{{produit.description}}</td>
        <td>{{produit.qte}}</td>
        <td>{{produit.unite}}</td>
        <td>{{produit.prixUnitaireHT}}</td>
        <td>
          <div class="btn-group btn-group-xs" >
            <button class="btn btn-success" style="background-color:#f4a60e" (click)="accepter(produit.id)">
              <fa name="fas fa-check fa-2x"></fa>
            </button>
            <button class="btn btn-danger" style="background-color:#f4a60e" (click)="rejeter(produit.id)">
              <fa name="fas fa-trash fa-2x"></fa>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-success" style="background-color:#f4a60e" (click)="commander()">
      <fa name="fas fa-shopping-basket fa-2x"></fa>
    </button>
  </div>
</div>
</div>
