<div class="card card-primary">
  <div class="card-header">Bienvenue dans votre panier</div>
  <div class="card-body">
<!--    <div class="form-group">-->
<!--      <label>Nom:</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="eleveSearch" (ngModelChange)="search()">-->
<!--    </div>-->
    <table class="table table-striped">
      <tr>
        <th>Nom de l'hydromel</th>
        <th>Type d'hydromel</th>
        <th>Type de miel</th>
        <th>Volume</th>
        <th>Degré</th>
        <th>Prix</th>
        <th>Stock disponible</th>
        <th>Nombre achetés</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let el of lignesCommande">
        <td>{{el.article.nom}}</td>
        <td>{{el.article.typeHydromel}}</td>
        <td>{{el.article.typeMiel}}</td>
        <td>{{el.article.volume}}</td>
        <td>{{el.article.degreAlcool}}</td>
        <td>{{el.article.prix}}</td>
        <td>{{el.article.qte}}</td>
        <td>{{el.qte}}</td>
        <td>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-danger" (click)="remove(el.id)">
              <fa name="fas fa-trash"></fa>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

